<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

    <h1>Welcome {{.Home_user.Gitea}}</h1>

    <hr>

    <h2>Create Room</h2>

    <form action="/test" method="POST">
        <input  type="text" name="roomname" placeholder="Room Name" required>
        <button type="submit">Create Room</button>
    </form>
    <hr>
    <h2>Join Room</h2>

    <form action="/join-room" method="POST">
        <input type="text" name="roomid" placeholder="Room ID" required>
         <button type="submit">Join Room</button>
    </form>
    <hr>

</body>
</html>