<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign into Fatanstic-4</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/login">
        <input type="text" name="login" placeholder="gitea-username or email" required>
        <br>
        <br>
        <input type="password" name="password" placeholder="password" required>
        <br><br>
        <button type="submit">Login</button>
    </form>
    
    <br>
    <b> Don't have an account? 
    <a href="/signup"> Sign up</a>
</body>
</html>