<!DOCTYPE html>
<html>
<head>
   
    <title>sign up for fantanstic-4</title>
</head>
<body>
    <h1>sign up</h1>
    <form method="post" action="/signup">
        <input type="text" name="name" placeholder="name(full name)" ><br>
        <input type="text" name="gitea" placeholder="gitea-username" ><br>
        <input type="text" name="email" placeholder="email"><br>
        <input type="text" name="password" placeholder="password"><br>
        <input type="text" name="C-password" placeholder="confirm password"><br>
        <select required >
            <option value="" disabled selected>--How did you hear from us--</option>
            <option>A friend</option>
            <option>From cluster 1</option>
            <option>From cluster 2</option>
            <option>From cluster 3</option>
            <option>From cluster 4</option>
            <option>From one of the Mentors</option>
        </select>
    </form>
    <button type="submit">Create Account</button><br>
    <a href="login.html" > login</button>

</body>
</html>