<!DOCTYPE html>
<html>
<head>
   
    <title>sign up for fantanstic-4</title>
</head>
<body>
    <h1>sign up</h1>
    <form method="post" action="/signup">
        <input type="text" name="name" value="{{.Name}}" placeholder="name(full name)" ><br><br>
        <input type="text" name="gitea" value="{{.Gitea}}" placeholder="gitea-username" ><br><br>
        <input type="text" name="email" value="{{.Email}}" placeholder="email"><br>
        {{if .Em_Errors}}
           <span style="color:red">{{.Em_Errors}}</span>
           {{end}} 
       
        <input type="password" name="password" placeholder="password"><br><br>
        <input type="password" name="confirm_password" placeholder="confirm password"><br>
         {{if .Pass_Errors}}
        <span style="color:rgb(128, 17, 17)">{{.Pass_Errors}}  </span><br>
        {{end}}
        <select name="referrals" required="must select this option" >
            <option value="" disabled selected>--How did you hear about us--</option>
            <option>A friend</option>
            <option>From cluster 1</option>
            <option>From cluster 2</option>
            <option>From cluster 3</option>
            <option>From cluster 4</option>
            <option>From one of the Mentors</option>
        </select><br><br>


          <button type="submit">Create Account</button><br><br>
    </form>
    Have an Account?
    <a href="/login" > login</button>

</body>
</html>